.Porto {
  width: 200px;
  margin: auto;
  opacity: 0; /* Inicialmente invisível para animação */
  animation: zoomIn 2.5s ease forwards; /* Adicionando animação */
  animation-delay: 2.2s;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .Porto {
    width: 150px; /* Certifique-se de que a classe está correta aqui também */
  }
}
