.formContainer {
  background-color: #3ba8e7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #000;
  position: relative;
}
.pulse {
  animation: pulse-animation 0.5s forwards;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Aumenta o botão em 10% */
  }
  100% {
    transform: scale(1); /* Retorna ao tamanho original */
  }
}

.imgbg {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
}

.title {
  color: #000;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 150px;
}
input[type="text"]:hover,
input[type="password"]:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 10% */
  background-color: #ffffff; /* Troca a cor de fundo */
  border: 2px solid #007bff; /* Adiciona uma borda azul */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transição suave */
}
.container {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contactInfo {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Gayathri" sans-serif;
  font-weight: 200;
}

.button {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  padding: 0.8rem 2.5rem;
  cursor: pointer;
  align-self: center;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 2rem;
  margin-block: 2rem;
}

.logoMarca {
  width: 200px;
  margin: auto;
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.logoMarca:hover {
  transform: scale(1.2); /* Aumenta a logo em 20% ao passar o mouse */
}

.foreignKey {
  margin-block: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

.box {
  padding: 3rem;
}

.submitButton {
  padding: 9px 20px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 250px;
  margin-right: 250px;
  background-color: black; /* Cor de fundo inicial */
  color: white; /* Cor do texto */
  border: 2px solid #007bff; /* Define a borda */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Transição suave */
}

.submitButton:hover {
  background-color: rgb(0, 0, 0); /* Altera a cor de fundo ao passar o mouse */
  color: white;
  transform: scale(1.2); /* Aumenta o botão em 20% ao passar o mouse */
}

@media (max-width: 700px) {
  .box {
    padding: 1rem;
  }

  .title {
    margin-top: 4rem;
  }

  .imgbg {
    width: 100px;
  }

  .row {
    flex-direction: column;
  }

  .submitButton {
    margin: 0;
    width: 100%;
  }
}
